@model List<MvcArticle.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD</h1>
</div>

@foreach (var article in Model)
{
    <article>
        <h2>@article.Title</h2>
        <p>@article.Content</p>
    </article>
}