@model List<MvcArticle.Models.Article>

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CRUD</h1>
</div>

<p>
    <a asp-action="Create">Create new article</a>
</p>

@foreach (var article in Model)
{
    <article>
        <h2>Id : @article.Id</h2>
        <h2>@article.Title</h2>
        <p>@article.Content</p>
        <a asp-action="Details" asp-route-id="@article.Id">Details</a>
    </article>
}